@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

body {
  margin : 72px 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(17, 16, 16);
  word-wrap: break-word;
}

body {
min-height: 100vh;


}
.div-body {
  position: relative;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #141414;
  height: 72px;
  padding-top: 12px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 24px 0 24px;
}
.header-logo a { 
  font-family: 'Agbalumo';
  font-size: 32px;
  color: #FFBA00;
  font-weight: 600;
}
.header-logo a span {
  color: red;
}
.header-logo a .span3 {
  color: rgb(0, 90, 168);
}
.header-logo a .span2 {
  color: rgb(0, 168, 90);
}
.header-logo a .span1 {
  color: rgb(255, 255, 255);
}
.header-nav ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.header-contact {
  font-weight: 500;
  color: #FFBA00;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.header-nav ul li a:hover {
  color: #FFBA00;
}
.header-nav a {
  background-image: linear-gradient(
  to right,
  #FFBA00,
  #FFBA00 50%,
  #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 600;
}

.header-nav  a:before {
  content: '';
  background: #FFBA00;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.header-nav a:hover {
  background-position: 0;
}

.header-nav a:hover::before {
  width:100%;
}



.popup{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  flex-direction: column;
  padding: 60px 10px;
  z-index: 100; 
}
.popup-disappear {
   display: none;
}
.popup div{
  color: #FFBA00;
  font-size: 17px;
  font-weight: 500;   
  width: 400px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 35px;
}
.popup button{
  padding: 5px 40px;
  background-color: #FFBA00;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.section1{
  padding: 150px 20px;  
  background-image: url('../img/bida-table-img.jpg');
  background-size:1700px 800px ;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; 
  background-color: #000000;
}


.wz-heading-container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -33px;
}

.wz-heading-inner {
  display: flex;
  position: relative;
  padding: 18px 18px;
  background: url('https://warningzone.com/wp-content/plugins/warningzone/assets/images/heading-bg.jpg') repeat-x;
  background-size: auto;
  min-width: 250px;
 justify-content: center;
 align-items: center;
}

.wz-heading-before {
  position: absolute;
  content: '';
  background: #000000;
  width: 7px;
  height: 7px;
  top: calc(50% - 3px);
  left: 8px;
  border-radius: 50%;
}

.wz-heading {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.wz-heading-after {
  position: absolute;
  content: '';
  background: #000000;
  width: 7px;
  height: 7px;
  top: calc(50% - 3px);
  right: 8px;
  border-radius: 50%;
}
.form-border{
  border: 2px solid #FFBA00;
  margin: 0px 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom:60px ;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:90px ;
  padding-bottom: 60px;

  gap: 50px;
}
.form label{
 
  color: #FFBA00;
  font-size: 18px;
  font-weight: 600;
}

.time-input{
  padding: 10px 340px 10px 15px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  background-color:transparent ;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
}

.date-input{
  padding: 10px 370px 10px 15px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  background-color:transparent ;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
}
.date-div,
.time-div{
  
  position: relative;
}
.date-icon-div,
.time-icon-div{
  
    position: absolute;
    bottom:5px ;
    right: 10px;
}
.date-icon-div span,
.time-icon-div span{
  font-size: 20px;
  font-weight: bold;
  color: #FFBA00;
  
}
.date-input::placeholder,
.time-input::placeholder{
  font-size: 15px;
  font-weight: bold;
  color: white;
}
#myTime,
#myDate{
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.name-inf,
.phone-inf,
.quantity-inf,
.date-inf,
.time-inf
 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.name-input{
  margin-left: 20px;
  padding-top: 8px;
  padding-left: 2px;
  padding-bottom:8px ;
  padding-right: 15px;
  font-size: 17px;
  font-weight: 500;
  width: 82%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
  color: white  ;

}

.phone-input{
  margin-left: 20px;
  padding-top: 8px;
  padding-left: 2px;
  padding-bottom:8px ;
  padding-right: 15px;
  font-size: 17px;
  font-weight: 500; 
  width: 74%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
  color: white  ;

}
.location-select
{
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 500;
 margin-top: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
  color: white;
  outline: none;
  cursor: pointer;
}

.location-select option{
   color: #000000;
}

.quantity-select{
 
  padding: 5px 7px;
  font-size: 17px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
  color: white;
  outline: none;

}

.quantity-select option{
  color: black;
}

.elementor-field{
  position: relative;
}
.arrow-icon{
  position: absolute;
  right: 0;
  bottom: 0;
}
.location-inf .arrow-icon {
  right: 15px;
}
.quantity-inf .arrow-icon{
  position: absolute;
  right: -5px;
  bottom: -4px;
}
.arrow-icon span{
  color: #FFBA00;
  font-size: 33px;
}
.check-inf{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkBtn{
  color: #FFBA00;
  padding: 8px 12px;
  background: transparent;
  border: 2px solid #FFBA00;
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 18px;
}
.checkBtn:hover{
  color: white;
  border-color: white;
}


.section2{
  background-color: #1C1C1C;
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  align-items: center;
  padding: 30px 0 10px 0; 
  gap: 60px;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 margin-bottom: 20px; 
}
.col h3,
.col-register h3
{
  width: 420px; 
  margin-bottom: 20px;
  color: #e2e2e2;
}
.col h4 {
  width: 420px;
  margin-bottom: 20px;
  color: #e2e2e2;
  font-weight: 500;
  font-size: 17px;
}
.col-register h4{
  width: 420px;
  margin-bottom: 20px;
  color: #e2e2e2;
  font-weight: 500;
  font-size: 17px;
}
.col .logo{
  width: 180px;
  margin-bottom: 20px;
}

.col-register{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 margin-bottom: 20px; 
}
.col-register h3 {
  color: #FFBA00;
}
.col-register .email-receive-inf{
  background-color: transparent;
  padding: 10px 10px 10px 5px;
  border: 2px solid #FFBA00;
  border-radius: 2px;
  margin-top: 10px;
  width: 150%;  
  color: #FFBA00;
  outline: none;
}
.email-receive-inf::placeholder{
  color: #FFBA00;
  font-size: 14px;
  
}
.email-receive-inf:focus{
  border: 2px solid #FFBA00;

}


.error {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px ;
  margin-top: 12px;
}
.error span{
   color: #D7524F;
   font-size: 22px;
   font-weight: 600;
}
.error p{
  color:#D7524F ;
  font-size: 18px;
  font-weight: 600;
}


.done {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px ;
  margin-top: 12px;
}
.done span{
   color: white;
   font-size: 22px;
   font-weight: 600;
}
.done p{
  color:white ;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  padding: 20px 30px 20px 30px;
  background-color: #141414;
}


.footer .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 200px 0 50px;
}

.footer .container .year {
   color: white;
}

.footer .container i {
  color: #FFBA00;
  font-size: 38px;
  margin-right: 10px;
  cursor: pointer ;
}


